html,
body {
    overflow-y: hidden;
    margin: 0 auto;
}
.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.header,
.middle,
.footer {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.header {
    height: 10%;
    align-items: center;
    justify-content: space-between;
    background-color: #373a40;
    user-select: none;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.2), 4px 0px 8px rgba(0, 0, 0, 0.2);
}

.middle {
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 80%;
    box-sizing: border-box;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.2), 4px 0px 8px rgba(0, 0, 0, 0.2);
}

.footer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #373a40;
    user-select: none;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.2), 4px 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 800px) {
    .header,
    .middle,
    .footer {
        width: 90%;
    }
}
