html,
body {
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0 auto;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

.header,
.middle,
.footer {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.header {
    height: 8%;
    align-items: center;
    justify-content: center;
    background-color: #373a40;
    user-select: none;
    position: relative;
}

.middle {
    flex: 1;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: 82%;
    box-sizing: border-box;
    transition: height 0.3s ease;
}

.middle.no-footer {
    margin-bottom: 0;
}

.footer {
    height: 8%;
    justify-content: center;
    align-items: center;
    background-color: #373a40;
    user-select: none;
}
