.app-container {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
}

.header,
.middle,
.footer {
    display: flex;
    width: 50%;
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: #373a40;
    user-select: none;
    border-radius: 30px 30px 0px 0px;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.1), 4px 0px 8px rgba(0, 0, 0, 0.1);
}

.middle {
    justify-content: center;
    align-items: center;
    height: 70vh;
    min-height: 500px;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.1), 4px 0px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #373a40;
    user-select: none;
    border-radius: 0px 0px 30px 30px;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.1), 4px 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1000px) {
    .header,
    .middle,
    .footer {
        width: 70%;
    }
}

@media (max-width: 800px) {
    .header,
    .middle,
    .footer {
        width: 90%;
    }
}
